{% extends "shop/base.html" %}
{% load static %}
{% block title %}
        Про нас
{% endblock %}

{% block content %}
<p class="main-text">Kasta — найбільший модний маркетплейс одягу, взуття та аксесуарів в Україні. З 2010 Kasta відкриває українцям найкращі міжнародні бренди та бренди талановитих українських дизайнерів та доводить власним прикладом, що купувати товари в Інтернеті - це просто, швидко та дешево. Ми постійно працюємо над тим, щоб Kasta стала єдиною точкою входу всіх підприємців, які хочуть продавати в Інтернеті, і була зручною та безпечною для всіх клієнтів, що віддають перевагу онлайн шопінгу. Отже, на сьогодні ми маємо:

2 млн товарів
15 тисяч брендів
8 млн покупців
Платформа Kasta є місцем зустрічі покупців з продавцями. На сьогодні платформа співпрацює з більш ніж 5000 партнерів і планує нарощувати обсяги співробітництва для того, щоб постійно розширяти і покращувати асортимент, пропонувати більше новинок з прийнятною ціновою політикою.

Kasta цінує вашу довіру до нас та час, що ви з нами проводите. Ми постійно покращуємо швидкість доставки, наші оператори готові відповісти на ваші дзвінки та повідомлення, а підписка Kasta Black надає безкоштовну доставку до відділень Нової пошти та Укрпошти протягом року.

Оригінальність товару на Kasta
Kasta працює безпосередньо з імпортерами, дистриб’юторами та виробниками, які гарантують покупцеві справжність товару і відповідність його всім санітарно-гігієнічним нормам.

На всю електроніку та побутову техніку є офіційна гарантія від виробника.

Маркетплейс на Kasta
Ми пишаємось, що наразі з нами співпрацює більш ніж 5000 партнерів, які довіряють і розглядають Kasta, як потужний канал онлайн продажів. Визначально, що наша платформа об’єднує пропозиції багатьох інших інтернет-магазинів, надаючи покупцям можливість обирати товари різних продавців, зібрані разом на одному сайті.


</p>
{% endblock %}