{% extends "shop/base.html" %}
{% load static %}
{% block title %}
           Оплата і доставка
{% endblock %}

{% block content %}
<p class="main-text">Політика доставки
Ми відправляємо з міста Тернопіль.

Доставка у відділення Нової Пошти

Вартість доставки стандартного замовлення (об'ємною або фактичною вагою до 30 кг) до відділення:

для замовлень до 1500 грн - від 60 грн.
У відділенні ви оплачуєте тільки суму замовлення, затверджену з нашим оператором, і більше ніяких додаткових комісій якщо було зроблено передплату на сайті або за реквізитами. У разі оплати замовлення післяплатою - буде додаткова комісія Нової Пошти = 20грн +2% від суми замовлення.

Термін доставки замовлень Новою Поштою складає від 1 до 5 днів після погодження замовлення з нашим менеджером.

Доставка до відділення Укрпошти

Вартість доставки стандартного замовлення (об'ємною або фактичною вагою до 30 кг) до відділення:

для замовлень до 1500 грн - від 35 грн.
Термін доставки замовлень Укрпоштою складає від 3 до 7 днів після погодження замовлення з нашим менеджером.

Ваше замовлення ми передамо до кур'єрської служби:

протягом трьох робочих днів з моменту оформлення замовлення. У разі непередбаченої затримки ми додатково проінформуємо Вас.
Відправка Новою Поштою та Укрпоштою здійснюється з понеділка по п'ятницю.

Важливо! Згідно з умовами безкоштовного зберігання, посилка може зберігатися на складі служби доставки 5 робочих днів. Після закінчення терміну в 5 днів посилка буде повернута до нас на склад.

Інфо

</p>
{% endblock %}