{% extends "shop/base.html" %}
{% load static %}
{% block title %}
        Обмін та повернення
{% endblock %}

{% block content %}
<p class="main-text">Політика повернення коштів
Як можна обміняти чи повернути товар?

Ви можете повернути або обміняти товар протягом 14 днів після доставки замовлення. Це право гарантовано Законом України "Про захист прав споживачів".

Щоб повернути товар, будь ласка, переконайтеся, що:

товар та його упаковка не були пошкоджені, всі бірки та ярлики на місці;
товар не був у вжитку: відсутні сліди використання, подряпини, пошкодження, потертості тощо;
замовлений Вами товар підлягає поверненню та обміну;
товар складений в упаковку так само, як і при отриманні.
Як надіслати заявку на повернення?

Ви можете написати нам листа на пошту info@agukids .com з темою "Повернення товару", фото та детальним описом ситуації. Ми самостійно оформимо заявку на повернення.
Які товари НЕ підлягають поверненню/обміну?

 Відповідно до постанови Кабінету міністрів №172 від 19 березня 1994 р. про реалізацію окремих положень закону України "Про захист прав споживачів", не підлягають поверненню:

товари медичного призначення: інгалятори, небулайзери, медичний одяг, молоковідсмоктувачі, бандажі, компресійна білизна тощо;
дитячі підгузки;
предмети гігієни;
м'які або надувні іграшки;
одяг для новонароджених;
товари для новонароджених (пелюшки, соски, пляшечки для годування, поїльники тощо);
продукти харчування (дитячі суміші, каші, пюре тощо);
парфумерно-косметичні та товари в аерозольній упаковці;
постільна білизна, рушники, покривала, пледи;
подушки, ковдри;
зубні щітки, бритви, гребінці, інструменти для манікюру, педикюру;
нижня білизна, боді, панчішно-шкарпеткові вироби;
нічні сорочки, халати, піжами, домашні костюми;
рукавички, рукавиці.
З повним переліком таких товарів Ви можете ознайомитись у повній версії закону. Повернути ці товари можна тільки через невідповідність замовлення.

Зверніть також увагу: обміну та поверненню не підлягають подарункові сертифікати.

</p>
{% endblock %}