{% extends "shop/base.html" %}
{% load static %}
{% block title %}
        Обмін та повернення
{% endblock %}

{% block content %}
<p class="main-text">Політика конфіденційності
Політика конфіденційності сайту agukids.com.ua/

Адміністрація сайту agukids.com.ua/ зобов'язується зберігати вашу конфіденційність в Інтернеті. Ми приділяємо велике значення охороні наданих вами даних. Наша політика конфіденційності ґрунтується на вимогах  Загального регламенту про захист персональних даних Європейського Союзу ). Цілі, в яких ми збираємо персональні дані: покращення роботи нашого сервісу, здійснення контактів з відвідувачами даного сайту, обробка даних користувачів для сервісу онлайн - торгівлі, , а також для наведених нижче дій.

Збір та використання персональних даних

Ми збираємо та використовуємо ваші персональні дані лише у випадку вашої добровільної згоди. За згодою ви дозволяєте нам збирати та використовувати такі дані: ім'я та прізвище, електронна пошта, номер телефону, домашня адреса, дані облікових записів у соціальних мережах, . Збір та обробка ваших даних проводиться відповідно до законів, що діють на території Європейського Союзу та в державі України.

Зберігання даних, зміна та видалення

Користувач, який надав свої персональні дані сайту agukids.com.ua/ має право на їх зміну та видалення, а також на відкликання своєї згоди з їх використанням. Термін, протягом якого зберігатимуться ваші персональні дані: 12 місяців. При завершенні використання даних адміністрація сайту видаляє їх. Для доступу до своїх персональних даних ви можете зв'язатися з адміністрацією сайту за наступною адресою: Agukids, Львів, Медової Печери 11, 79038. Ми можемо передавати ваші особисті дані третій стороні тільки за добровільною згодою, якщо вони були передані, то зміна даних в інших організаціях, не пов'язаних з нами, ми не можемо здійснити.

Використання технічних даних під час відвідування сайту

При відвідуванні вами сайту agukids.com.ua/ в базі даних зберігаються записи про вашу IP адресу, час відвідування, налаштування браузера, операційну систему, а також інша технічна інформація необхідна для коректного відображення вмісту сайту. За цими даними нам неможливо ідентифікувати особу відвідувача.

Надання інформації дітьми

Якщо Ви є батьком або опікуном, і ви знаєте, що ваші діти надали нам свої особисті дані без Вашої згоди, зв'яжіться з нами: agukids.com.ua/account/login. На нашому сервісі заборонено залишати особисті дані неповнолітніх без згоди батьків чи опікунів.

Використання cookies

Для коректного відображення вмісту та для зручності використання сайту agukids.com.ua/ ми використовуємо cookie файли. Це невеликі файли, які зберігаються на вашому пристрої. Вони допомагають сайту запам'ятати інформацію про вас, наприклад, якою мовою ви переглядаєте сайт і які сторінки ви вже відкривали, ця інформація буде корисна при наступному відвідуванні. Завдяки файлам cookie перегляд сайту стає значно зручнішим. Докладніше про ці файли ви можете прочитати тут. Ви можете налаштувати прийом або блокування cookie у браузері самостійно. Неможливість приймати cookie може обмежити працездатність сайту.

Використання персональних даних іншими сервісами

На цьому сайті використовуються сторонні інтернет-сервіси, які здійснюють незалежний від нас збір інформації: Google Analytics, Facebook.com, . Зібрані ними дані можуть надаватися іншим службам усередині цих організацій, вони можуть використовувати дані для персоналізації реклами власної рекламної мережі.  Ви можете прочитати угоди цих організацій на їхніх сайтах. Там же ви можете відмовитися від збору ними персональних даних, наприклад, блокувальник  Google Analytics знаходиться тут



</p>
{% endblock %}