{% extends "shop/base.html" %}
{% load static %}
{% block title %}
        Обмін та повернення
{% endblock %}

{% block content %}
<p class="main-text">Умови обслуговування
Договір - оферта на купівлю товару через Інтернет - магазин

Цей Договір є публічним договором - офертою (пропозицією) фізичної особи Черненка Анастасія(далі по тексту - «Продавець») з фізичною особою (далі - «Покупець»), що включає всі істотні умови організації купівлі – продажу дистанційним способом (тобто через Інтернет – магазин). Умови цього Договору регулюють взаємовідносини Продавця та Покупця та визначаються Законом України «Про захист прав споживачів» № 1023-XII від 12 травня 1991 року, Правилами роздрібної торгівлі непродовольчими товарами, затвердженими наказом Міністерства економіки України № 104 від 19 квітня 2007 року.
Терміни та визначення.
1.1. «Товар» - моделі, аксесуари, запчастини, комплектуючі та супутні предмети, які пропонуються до продажу в Інтернет-магазині, або вже придбані Покупцем у Продавця дистанційним способом.
1.2. «Інтернет - магазин»-сайт продавця, створений для укладання договорів роздрібної та оптової купівлі - продажу на підставі ознайомлення Покупця із запропонованим Продавцем описом Товару на фотознімках, за допомогою мережі Інтернет, яка виключає можливість безпосереднього ознайомлення Покупця з Товаром - дистанційним способом продажу товару. 1.3. «Суттєвий недолік Товару» - недолік, який унеможливлює або неприпустиме використання товару відповідно до його цільового призначення, виник з вини виробника (продавця), після його усунення проявляється знову з незалежних від споживача причин і при цьому наділений хоча б однією з наступних ознак : а) він взагалі не може бути усунений; б) його усунення вимагає більше чотирнадцяти календарних днів; в) він робить товар суттєво іншим, ніж передбачено договором.
Предмет договору.
2.1. Продавець зобов'язується передати у власність Покупцю товар, а Покупець зобов'язується сплатити та прийняти товар на умовах цього Договору. Текст договору - оферти (далі - Договір) розташований за адресою: 2.2.Датою укладення Договору-оферти (акцептом оферти) та моментом повного та беззаперечного прийняттям Покупцем умов Договору вважається факт оплати Покупцем замовлення (надходження на рахунок Продавця коштів за Товар), або отриманням товару.3. Порядок оформлення замовлення.
3.1. Покупець самостійно оформляє замовлення в Інтернет-магазині через форму «кошика», або за телефоном, вказаним у розділі контактів Інтернет-магазину.
3.2. Термін формування замовлення 3 робочих днів з моменту подання заявки у разі, якщо між сторонами не було погоджено інший термін. У разі, якщо замовлення надіслано у вихідний або святковий день, термін формування починається з першого після вихідного робочого дня.
3.3. Порядок оплати замовлення.
1. Покупець може оплатити замовлення такими способами:
1) за допомогою сервісу Liqpay безпосередньо в інтернет-магазині Продавця або за допомогою послуги "Оплата при отриманні", що надається компанією доставки.4. Строк, вартість та умови доставки замовлення.
4.1. Доставка та повернення замовлення виконується силами продавця чи транспортної компанії за рахунок Покупця, якщо інше не передбачено договором чи чинним законодавством. Термін доставки не може перевищувати 7 днів.
4.2. Вартість доставки в Інтернет-магазині не вказується, оскільки залежить від чинних тарифів перевізника. Права та обов'язки сторін.
5.1.Продавець зобов'язаний:
- виконувати умови даного Договору
- виконувати замовлення Покупця у разі надходження оплати від Покупця;
- передати покупцю товар згідно з обраним зразком в Інтернет-магазині, оформленим замовленням та умовами цього Договору;
- перевірити якісні та кількісні характеристики Товару під час його упаковки на склади5.2. Продавець має право:
- в односторонньому порядку призупинити надання послуг за цим Договором у разі порушення Покупцем умов цього Договору.5.3. Покупець зобов'язаний: - своєчасно оплатити та отримати замовлення на умовах цього Договору; - ознайомитися з інформацією про товар, яка розміщена на сайті продавця; - при отриманні товару у перевізника переконатися в його цілісності та комплектності шляхом огляду вміст упаковки. При пошкодженні та неповній комплектації - зафіксувати їх у акті, який разом із Покупцем має підписати співробітник перевізника.5.4. Покупець має право:
- оформити замовлення в Інтернет - магазині;
- вимагати від продавця виконання умов цього Договору.
Порядок прийому та заміни товару неналежної чи належної якості
6.1.При отриманні Товару на складі перевізника , від кур'єра чи продавця, покупець зобов'язаний перевірити зовнішню цілісність упаковки, після чого відкрити її та безпосередньо переконатися у належному зовнішньому стані Товару (відсутності механічних пошкоджень) та повноті його комплектності.
6.2. У разі наявності хоча б одного з перерахованих недоліків, Покупець зобов'язаний зафіксувати його у складеному акті довільної форми. Акт має бути підписаний Покупцем та співробітником перевізника чи продавця. За можливості недоліки повинні бути зафіксовані засобами фото- або відеофіксації. Протягом 1 (одного) дня Покупець зобов'язаний повідомити менеджера (представника Продавця відповідального за оформлення замовлення на товар) про виявлені недоліки та домовитися про заміну товару.
7.1. Сторони погодили, що у разі недотримання обов'язкових вимог зазначеної процедури, визнається одержання Покупцем Товару у належному стані - без будь-яких механічних пошкоджень та у повній комплектності.

7.2. У разі отримання Товару у належному стані, але при виявленні протягом встановленого гарантійного строку недоліків, пов'язаних з його роботою, Покупець має право:

7.2.1. пропорційне зменшення ціни;
7.2.2. безоплатне усунення недоліків товару в розумний термін; 7.2.3. відшкодування витрат на усунення недоліків товару.

7.3. При пред'явленні вимог про безоплатне усунення недоліків такі роботи повинні бути виконані протягом 21 (двадцяти одного) дня з дати пред'явлення товару. Датою пред'явлення Товару вважається дата надходження до Продавця. У такому разі доставка малогабаритних товарів та товарів вагою менше ніж п'ять кілограмів продавцю та їх повернення Покупцю здійснюються за рахунок останнього.

7.4. У разі виявлення протягом встановленого гарантійного строку суттєвих недоліків, що виникли з вини виробника товару (продавця), або фальсифікації товару, підтвердженої висновком експертизи, Покупець, у порядку та в строки встановлені законодавством та на підставі обов'язкових для сторін умов договору-оферти, має право на свого вибору вимагати від продавця:

7.4.1. розірвання договору та повернення сплаченої за Товар грошової суми;

7.4.2. заміни товару на такий самий товар або на аналогічний, з числа наявних у Продавця.

7.5.У такому разі, при підтвердженні Продавцем суттєвих недоліків Товару та при волевиявленні Покупця, сплачені кошти підлягають поверненню останньому на зазначені ним реквізити до протягом 7 (семи) календарних днів після повернення товару.

7.6. У разі заміни неякісного Товару оплата послуг перевізника здійснюється за рахунок продавця.

7.7. Покупець протягом 14 (чотирнадцяти) днів з моменту отримання Товару належної якості має право обміняти на аналогічний у продавця, у якого він був придбаний, якщо товар не задовольнив його за формою, габаритами, фасоном, кольором, розміром або з інших причин не може бути ним використаний за призначенням. Обмін Товару належної якості провадиться, якщо він не використовувався і якщо збережено його товарний вигляд, споживчі властивості, пломби, ярлики, а також розрахунковий документ, виданий Покупцю разом із проданим товаром. У такому разі послуги перевізника оплачує Покупець.

7.8. Пункти 7.2. - 7.7 цього Договору підлягають застосуванню до всіх видів Товару, крім виготовлених індивідуально за побажаннями клієнта. Товар, який є індивідуальним виробництвом заміні та поверненню не підлягає.

7.9. У будь-якому випадку повернення Товару має відбуватися в оригінальній упаковці, в якій надійшов Ні. У разі пошкодження оригінальної упаковки Покупцем останній повинен відшкодувати продавцю 20% товару.

Відповідальність сторін.

8.1. Сторони несуть відповідальність за невиконання або неналежне виконання умов цього Договору у порядку, передбаченому цим Договором та чинним законодавством України.

8.2. Продавець не несе відповідальності за змінений виробником зовнішній вигляд товару.

8.3. У разі обставин непереборної сили сторони звільняються від виконання умов цього Договору. Під обставинами непереборної сили для цілей цього Договору розуміються події, що мають надзвичайний, невідворотний непередбачуваний характер, що виключають або об'єктивно перешкоджають виконанню цього Договору, настання яких Сторони не могли передбачити та запобігти розумним заходам.

8.4. Сторона, яка посилається на дію обставин непереборної сили, повинна протягом п'яти календарних днів письмово електронною поштою повідомити іншу сторону про настання таких обставин.

8.5. Якщо через дії обставин непереборної сили невиконання зобов'язань за цим Договором триває понад п'ять місяців, кожна із Сторін має право розірвати цей Договір в односторонньому порядку, письмово повідомивши про це іншу сторону.

8.6.Сторони докладають максимальних зусиль для вирішення будь-яких розбіжностей виключно шляхом переговорів. Якщо відповідну суперечку неможливо вирішити шляхом переговорів, вона вирішується в судовому порядку. Сторони погодили, що всі судові суперечки, що виникли між ними щодо укладання, виконання, зміни, розірвання цього Договору, а також суперечки щодо його справжності будуть розглядатися виключно у смт. Тернопіль, тобто за місцезнаходженням продавця.

Інші умови.
9.1. Інтернет-магазин залишає за собою право в односторонньому порядку вносити зміни до цього Договіру з попередньою публікацією його на сайті https://agukids.com.ua

9.2. Інтернет-магазин створений для організації дистанційного способу продажу товарів через інтернет.

9.3. Інтернет-магазин не несе відповідальності за зміст та достовірність інформації, що надається Покупцем при оформленні замовлення.

9.4. Покупець несе відповідальність за достовірність зазначеної під час оформлення замовлення інформації.

9.5. Оплата Покупцем оформленого в Інтернет-магазині замовлення означає повну згоду Покупця з умовами Договору купівлі-продажу (публічної оферти Інтернет-магазину) та є датою укладання Договору купівлі-продажу між Продавцем та Покупцем.

9.6. Використання ресурсу Інтернет-магазину для перегляду товару, а також для оформлення замовлення є для Покупця безоплатним.

9.7. Інформація, що надається Покупцем, є конфіденційною. Інтернет-магазин використовує інформацію про Покупця виключно з метою функціонування інтернет-магазину (відправлення повідомлення Покупцю про виконання замовлення, відправлення рекламних повідомлень тощо).

9.8. .com.ua (заповнення реєстраційної анкети) Покупець добровільно дає згоду на збирання та обробку власних персональних даних у зареєстрованій базі Продавця «Контрагенти» з наступною метою: дані, які стають відомими продавцю використовуватися в комерційних цілях, у тому числі для обробки замовлень на придбання товарів, отримання інформації про замовлення, передача телекомунікаційними засобами зв'язку (електронною поштою, мобільним зв'язком) рекламних та спеціальних пропозицій, інформації про акції, розіграші або будь-яку іншу інформацію про діяльність магазину. Для цілей, передбачених цим пунктом, Продавець має право надсилати листи, повідомлення та матеріали на поштову адресу, e-mail Покупця, а також надсилати SMS-повідомлення, здійснювати дзвінки на вказаний в анкеті номер.

9.9. Покупець надає продавцю право здійснювати обробку його персональних даних, у тому числі: поміщати персональні дані до баз даних Покупця (без додаткового повідомлення Учасника про це), здійснювати довічне зберігання даних, їх накопичення, оновлення, зміну (за потребою). Покупець зобов'язується забезпечити захист даних від несанкціонованого доступу третіх осіб, не поширювати та не передавати дані будь-якій третій стороні (крім передачі даних пов'язаним особам, комерційним партнерам, особам, уповноваженим Продавцем на здійснення безпосередньої обробки даних для зазначених цілей, а також на обов'язковий запит компетентного державного органу).

9.10. У разі небажання отримувати розсилку, Покупець має право звернутися до Продавця, написавши заяву про відмову від отримання рекламних матеріалів, направивши її на поштову чи електронну адресу.

Термін дії Договору та порядок його розірвання
10.1. Цей Договір набирає чинності з моменту Покупцем акцепту (надходження оплати на рахунок Продавця) та діє до повного виконання зобов'язань сторонами, за винятком випадків його дострокового розірвання.
10.2. До закінчення строку дії цього Договору може бути розірвано за взаємною згодою сторін, оформленої письмово.
10.3. Сторони мають право розірвати цей Договір в односторонньому порядку, у разі невиконання однієї із сторін умов цього Договору та у випадках, передбачених цим Договором та чинним законодавством України.
</p>
{% endblock %}