{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<div class='main-content'  >
    <div id="sidebar">
        <h3>Катерогії </h3>
        <ul>
            <li {% if not category %} class="selected"{% endif %}>
                <a href="{% url 'shop:product_list' %}">Всі продукти </a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <h1>{% if category %}{{ category.name }}{% else %}Всі категорії {% endif %}</h1>
    
    <div id="main" class="product-list">

        {% for product_t in products %}
            <div class="item">
                <a href="{{ product_t.get_absolute_url }}">
                            <img src="{{ product_t.picture1  }}" >

                </a>
                <a href="{{ product_t.get_absolute_url }}">{{ product_t.name }}
                   ua {{ product_t.price }}

          </a><br>
            </div>
        {% endfor %}

         <div class="pagination">
        <span class="step-links">
            {% if products.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ products.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current-page">
                Page {{ products.number }} of {{ products.paginator.num_pages }}.
            </span>

            {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}">next</a>
                <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

    </div>

{% endblock %}