{% extends "shop/base.html" %}

<!-- ця сторінка відкривається коли натискаємо читати пост  -->
{% block content %}
<!--<h1>Реєстрація на сайті </h1>-->
<!--<form method="POST">-->
<!--    {% csrf_token %}-->
<!--   {% for f in form %}-->
<!--    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }} </p>-->
<!--    <div class="form-error">{{ f.errors }}</div>-->
<!--    {% endfor %}-->
<!--    <button type="submit">Реєстрація </button>-->
<!--</form>-->

 <h1 class="regisster-titi">Реєстрація на сайті</h1>
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            {% for f in form %}
            <div class="form-group">
                <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
                {{ f }}
                <div class="form-error">{{ f.errors }}</div>
            </div>
            {% endfor %}
            <button type="submit">Зареєструватися</button>
        </form>
    </div>

    {% endblock %}-
